# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# manually added
aa_OLD_1.09.4/
aa_OLD_1.09.4-liteloader/